<% @exercises.each do |e| %>
  <ul> <%= link_to "#{e.name}", exercise_path(e) %>
    <li><%= e.muscle_group %></li>
    <li><%= e.equipment %></li>
    <li><%= e.description %></li>
  </ul>
<% end %>
